#cards {
  margin: 0.1%;
  width: 99%;
  height: 30%;
  text-align: center;
}

#toolbar {
  margin-top: 1%;
  width: 99%;
  height: 10%;
  text-align: center;
}


.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper.form-success {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}

.card {
  border: 0px solid black;
	border-radius: 8px;
  padding: 10px;
  margin: 25px;
	cursor:pointer;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.select {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 25px 0px #1abc9c;

  /*background: repeating-linear-gradient(
    135deg,
    #2a2b2a,
    #2a2b2a 10px,
    #000 10px,
    #000 20px
  );*/
}

button {
  display: inline-block;
  width: 200px;
  height: 40px;
  size: 14px;
  font-size: 18px;
  margin-left: 20px;
}

button:hover {
 background: #428BCA;
}

h2 {
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  font: 50px 'ChunkFiveRegular';
  float: left;
  margin-left:50px;
}



#score{
  float:right;
  font-size: 3em;
	top:0;
	right:0;
	margin: auto auto;
	padding: 40px 40px 40px 100px;
	height:60px;
	width: 400px;
	position:relative;
	content: "Score: ";
	margin-right: 2em;
  color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 50px 'ChunkFiveRegular';
}

.card_back{
	background-image: url("http://www.jimknapp.com/Cards/Non-Bicycle_files/image002.jpg");
  background-size: 100% 100%;
	width: 110px;
	height: 170px;
  margin-right: -118px;
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 8px;
  padding: 10px;
}

#text{
  display: inline-block;
}

#deck {
  margin: 0.1%;
  width: 99%;
  height: 30%;
  text-align: center;
}

.scoreCard {
  border: 0px solid black;
	border-radius: 8px;
	cursor:pointer;
  margin-right: 50px;
  padding: 10px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
